<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="soluciones.css">
  <title>Terán | Soluciones</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../../img/log.jpg"/>
  <link rel="icon" type="image/png" sizes="32x32" href="../../img/log.jpg"/>
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/log.jpg"/>
</head>
<body>
  <div class="container">
    <nav class="nav-main">
      <a href="../../index.html">
        <img src="../../img/logo.jpg" alt="TechNews Logo" class="nav-brand">
      </a>
      <ul class="nav-menu">
        <li>
          <a href="/views/Nosotros/nosotros.html">Nosotros</a>
        </li>
        <li>
          <a href="/views/Productos/productos.html">Productos</a>
        </li>
        <li>
          <a href="/views/Soluciones/soluciones.html">Soluciones</a>
        </li>
        <li>
          <a href="/views/Contacto/contacto.html">Contáctos</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content-port">
    <img src="https://bynder.sbdinc.com/m/12db4e506790e3ff/Drupal_Large-33-725_A4.jpg" alt="imagen de Nosotros">
  </div>

  <h2 class="title-section">SELECCIONA TÚ PROFESIÓN</h2>
  <div class="content-profesion">
    <div class="wrapper-profesion">
      <div>
        <img src="https://bynder.sbdinc.com/m/359256e5a642b5a8/Drupal_Large-ST_Trades-Carpentry_BWG.jpg" alt="">
        <h4>CARPINTERÍA</h4>
      </div>
      <div>
        <img src="https://bynder.sbdinc.com/m/2d436c30d1a2ccb/Drupal_Large-ST_Trades-Construction_BWG.jpg" alt="">
        <h4>CONSTRUCCIÓN</h4>
      </div>
      <div>
        <img src="https://bynder.sbdinc.com/m/2d0fa5d6ae6a34f9/Drupal_Large-ST_Trades-Mechanic_BWG.jpg" alt="">
        <h4>MECÁNICA</h4>
      </div>
    </div>
  </div>
    

  <div class="footer">
    <div class="footer-top">
      <h5>
        ©2022 Terán Corp, Inc. Todos los derechos reservados ®
      </h5>
    </div>
    <div class="footer-bottom">
      <h6>Políticas de Privacidad</h6>
      <h5>|</h5>
      <h6>Términos de Uso</h6>
    </div>
  </div>
</body>
</html>