<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terán | Contacto</title>
  <link rel="stylesheet" href="contacto.css">
</head>
<body>
  <div class="container">
    <nav class="nav-main">
      <a href="../../index.html">
        <img src="../../img/logo.jpg" alt="TechNews Logo" class="nav-brand">
      </a>
      <ul class="nav-menu">
        <li>
          <a href="/views/Nosotros/nosotros.html">Nosotros</a>
        </li>
        <li>
          <a href="/views/Productos/productos.html">Productos</a>
        </li>
        <li>
          <a href="/views/Soluciones/soluciones.html">Soluciones</a>
        </li>
        <li>
          <a href="/views/Contacto/contacto.html">Contáctos</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content-port">
    <img src="https://bynder.sbdinc.com/m/36d66381d356fcd1/Drupal_Large-SG6115_A3.jpg" alt="imagen de Nosotros">
  </div>

  <h2 class="title-section">CANALES DE ATENCIÓN</h2>
  <div class="wrapper-icon-contact">
    <div>
      <img src="../../img/call.png" alt="">
      <h5>Llámanos</h5>
      <br>
      <h5>709-7726</h5>
    </div>
    <div>
      <img src="../../img/message.png" alt="">
      <h5>Evíanos un mensaje</h5>
    </div>
    <div>
      <img src="../../img/whatsapp.png" alt="">
      <h5>Escríbenos</h5>
    </div>
  </div>

  <div class="footer">
    <div class="footer-top">
      <h5>
        ©2022 Terán Corp, Inc. Todos los derechos reservados. ®
      </h5>
    </div>
    <div class="footer-bottom">
      <h6>Políticas de Privacidad</h6>
      <h5>|</h5>
      <h6>Términos de Uso</h6>
    </div>
  </div>
</body>
</html>